  <%- people.join("_normalized,\n  ")+"_normalized"; %>
<%- "'"+people.join("', '")+"'"; %>

<% for(var i=0; i<people.length; i++){ %>
  <li><%- people[i] %></li><% } %>
<%- true? a:'b' %>
<% if (false){ %>
aaa
<% } else { %>
bbb
<% } %>
