@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
}

#react-root {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: darken(white, 20%);
}

#app {
  padding: 1rem;
}

.sample {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.owl-reticle-top {  // 上側(下向き矢印)
  width: 10px;
  margin: -8px auto 0;
  &:before {
    content: '\f103';
    font-family: FontAwesome;
  }
}
